Package: parrot-update-manager
Version: 2.1.3
Architecture: all
Maintainer: Lorenzo "EclipseSpark" Faletra <eclipse@frozenbox.org>
Installed-Size: 41
Depends: gtkd, apt-parrot
Section: parrot
Priority: optional
Description: A simple APT update manager frontend for Parrot OS
 A simple APT update manager frontend for Parrot OS
